p li {
    font-size: 18px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 16px;
    text-align: center;
}

.blogImage {
    max-height: 400px;
}

.highlightBox {
    background: #f6f9fc;
    padding: 20px;
    margin-bottom: 20px;
}

.subtext {
    font-size: 0.8em;
}

.button {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none !important;
    background-color: #fff;
    color: #4950F6 !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 24px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}


.button-primary {
    color: #fff !important;
    transition: background .15s ease;
    border-radius: 10px;
    background: #4950f6;
}

.button-primary:hover {
    background: #11103e
}

/* Mandarin Spot API */
#mandarinspot-tip {
    background: #f6f9fc !important;
    border-radius: 10px !important;
    padding: 12px !important;
    border: 1px solid black !important;
}

#mandarinspot-tip-hz {
    margin: 5px 0px !important;
}

#mandarinspotspot-tip-py {
    margin: 5px 0px !important;
}

#mandarinspotspot-tip-en {
    margin: 5px 0px !important;
}

#mandarinspotspot-tip-fo {
    display: none !important;
}

/* footer */

.site-footer {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #ABABC9;
    background-color: #11103E
}


.site-footer a {
    color: #ABABC9;
    text-decoration: none
}

.site-footer a:hover,
.site-footer a:active {
    color: #fff;
    text-decoration: underline
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px
}

.site-footer-inner.has-top-divider::before {
    background: #565678;
    background: linear-gradient(to right, rgba(86, 86, 120, 0.1) 0, rgba(86, 86, 120, 0.6) 50%, rgba(86, 86, 120, 0.1) 100%)
}


.container,
.container-sm {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 481px) {

    .container,
    .container-sm {
        padding-left: 24px;
        padding-right: 24px
    }
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 848px
}

.container .container-sm {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0
}


.site-footer a {
    color: #ABABC9;
    text-decoration: none
}

.site-footer a:hover,
.site-footer a:active {
    color: #fff;
    text-decoration: underline
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.footer-brand,
.footer-links,
.footer-social-links {
    margin-bottom: 24px
}

.footer-links li,
.footer-social-links li {
    margin-left: 16px
}

.footer-social-links li {
    display: inline-flex
}

.footer-social-links li a {
    padding: 8px
}

@media (min-width: 641px) {
    .site-footer-inner {
        justify-content: space-between
    }


    .footer-brand,
    .footer-links,
    .footer-social-links,
    .footer-copyright {
        flex: 50%
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start
    }

    .footer-links,
    .footer-social-links {
        justify-content: flex-start
    }

    .footer-links {
        order: 1;
        margin-bottom: 0
    }
}


@media (max-width: 641px) {

    .footer-copyright,
    .footer-social-links,
    .mobileFooterSpan {
        margin: 0px auto;
        text-align: center;
    }

    .mobileFooterUL {
        display: inline-block
    }

    .mobileFooterLI {
        margin-top: 10px;
    }
}


.list-reset {
    list-style: none;
    padding: 0
}


.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none;
    background-color: #fff;
    color: #4950F6 !important;
    border: none;
    height: auto;
    left: 8px;
    padding: 16px 32px;
    top: 8px;
    width: auto;
    z-index: 100000
}


.has-top-divider {
    position: relative
}

.has-top-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #D2DAF0;
    background: linear-gradient(to right, rgba(210, 218, 240, 0.1) 0, rgba(210, 218, 240, 0.6) 50%, rgba(210, 218, 240, 0.1) 100%)
}

.button-secondary {
    color: #000 !important;
    background: #ecf0f1;
    transition: background .15s ease;
    border-radius: 10px
}

.button-secondary:hover {
    background: #dfe6e9
}