p li {
    font-size: 18px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 16px;
    text-align: center;
}

.blogImage {
    max-height: 400px;
}

.highlightBox {
    background: #f6f9fc;
    padding:20px;
}

.subtext {
    font-size:0.8em;
}

.button {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none !important;
    background-color: #fff;
    color: #4950F6 !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 24px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.button-primary {
    color: #fff !important;
    transition: background .15s ease;
    border-radius: 10px;
    background: #4950F6;
}